.chat-side
  .side-header
    .side-header__name
      くま
      .side-header__name__icons
        = icon('far', 'edit')
        = icon('fas', 'cog')

  .groups
    .groups__name
      sss
    .groups__message
      おはようございます


