
.wrapper
  = render 'messages/side_bar'
  .chat-main
    .main-header
    .messages
    .content-bottom
      .footer
        .form-content
          .image
            = icon('far', 'image')
        .margin
        .submit
          .text
            Send




